* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  color: #fff;
  border: 1px solid #48545c;
  overflow-y: hidden;
}

h2 {
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.2;
  color: #000;
}

/* dev button */
#devbtn {
  padding: 5px;
  background-color: #f1707a;
  color: whitesmoke;
}

#titlebar {
  display: block;
  position: fixed;
  height: 32px;
  width: calc(100% - 2px);
  background: #1a2933;
  padding: 4px;
  color: #fff;
}

.maximized #titlebar {
  width: 100%;
  padding: 0;
}

#main {
  height: calc(100% - 32px);
  margin-top: 10px;
  padding: 20px;
  overflow-y: auto;
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}

#titlebar #drag-region {
  display: grid;
  grid-template-columns: auto 138px;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
  /*width: 70px;*/
}

.maximized #window-title {
  margin-left: 12px;
}

#window-title div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  grid-column-gap: 20px;
  right: 0;
  height: 100%;
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (-webkit-device-pixel-ratio: 1.5),
  (device-pixel-ratio: 1.5),
  (-webkit-device-pixel-ratio: 2),
  (device-pixel-ratio: 2),
  (-webkit-device-pixel-ratio: 3),
  (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

#window-controls .button {
  user-select: none;
}

#window-controls .button:hover {
  background: rgba(255, 255, 255, 0.1);
}

#window-controls .button:active {
  background: rgba(255, 255, 255, 0.2);
}

#close-button:hover {
  background: #e81123 !important;
}

#close-button:active {
  background: #f1707a !important;
}
#close-button:active .icon {
  filter: invert(1);
}

#min-button {
  grid-column: 2;
}

#close-button {
  grid-column: 3;
}

.logo {
  width: 20px;
}

#head-title {
  padding: 50%;
  font-size: 1.1rem;
  text-align: center;
}
#myList li {
  color: #000;
  font-size: 120%;
  padding: 1px;
  border:solid 1px;
}
.change
{
  font-size: 1.1rem;
  /* margin: 0mm auto; */
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(162, 162, 165);
  
  padding-bottom: 0.5cm;
  
}
/* .change input[type=text]
{
  
    ; 
 
} */
.container
{

    margin-top: 12mm; 
    
    /* margin-right: 300px; */
    /* flex-grow: 4; */
    /* justify-content: space-between; */
    /* align-items: flex-start; */
}
#goback
{
  text-decoration: none;
  color: #ebebeb;
  padding: 6px;
  
} 

#goforward
{
   text-decoration: none;
  
  color: #e8f1f7;
  padding: 10px;
  
  
  
}
#directory
{
  height: 100%;
  text-decoration: none;
  color: rgb(10, 10, 10);
  /* border:1px solid rgb(20, 20, 20); */
   /* padding: 6px; */
   width: 300px;
  border-color: #333 ;
  text-align:center;
  border-radius: 1.2cm;
    /* left: auto; 
    right: auto */
  margin-left: 550px;
}
#go
{
  text-decoration: none ;
  color: rgb(255, 254, 254);
  border:1px solid rgb(56, 55, 55);
  border-color: #333 ;
  background-color: #1a2933;
  padding: 10px;
  align-content: center;
  left: -100px;
   border-radius: 1.2cm;
  
}
#fileName{
  height:100%;
  text-decoration: none;
  color: rgb(7, 7, 7);
   width: 200px;
  text-align:center;
    
    margin-left: 420px;
    border-radius: 1.2cm;
}